<html>
    <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
 font-family: "Comic Sans MS", cursive, sans-serif ;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px;
  font-size: 14px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
    <div class="sidenav">
  <a href="https://pcospredict.herokuapp.com/about">About</a>
  <a href="https://pcospredict.herokuapp.com/">Predict</a>
</div>
    <div>
     <title>Info</title>
     <body>
      <body style="background-color:black;">
          
        <h2 style="text-align:center; color:white;"> What is PCOS </h2>
          <p class = 'a' style="color:orange;">
              PCOS : Polycystic ovary syndrome or polycystic ovarian syndrome is a health problem caused by an imbalance of reproductive hormones that wreak havoc on your reproductive system and the rest of your body. Much like every process, your body goes through,
              PCOS is deeply affected by the way your hormones interact with each other. <br><br>
              When one reproductive hormone is thrown off balance, it affects the way that all of the others work
              in your body. The prevalence of PCOS is highly variable ranging from 2.2% to 26%
              globally. In a few Asian countries, prevalence figures are ranging from 2% to 7.5% in
              China and 6.3% in Srilanka. There are few studies conducted in India. Studies were done
              in South India and Maharashtra, the prevalence of PCOS (by Rotterdam's criteria) was
              reported as 9.13% and 22.5% (10.7% by Androgen Excess Society criteria) respectively.If you have balanced hormones, your ovaries make an egg, which is released into your fallopian tubes every month to await fertilization.<br><br> If you have PCOS, your ovaries may not develop the egg to maturity or they may not release the developed egg during ovulation.

              Because the hormones that affect your menstrual cycle are imbalanced, PCOS can cause you to have irregular or missed periods which can lead to infertility and the growth of small cysts on your ovaries. The cysts aren’t harmful on their own, but they can lead to further hormonal imbalance. Cysts can be defined as a sac like pocket of membranoustissue that contains fluid, air, or other substances.
          </p>
          <br><br>
         <h2 style="text-align:center; color:white;">Causes of PCOS </h2>
          <style>
p{
  font-family: "Comic Sans MS", cursive, sans-serif ;
}
</style>
          <p style="color:white;">The exact cause of PCOS is not known but there are some factors that are believed to
              cause PCOS are :
              <style>
li{
  font-family: "Comic Sans MS", cursive, sans-serif ;
}
</style>
          <ul>
              <li style="color:orange;">Genetics</i></li>
              <li style="color:orange;"><i>High levels of androgens</i></li>
              <li style="color:orange;"><i>Insulin resistance</i></li>
          </ul>
          </p>
   <p style="color:white;">The Symptoms are:
    <ul>
    <li style="color:orange;"><i>Irregular or absent menstrual cycle</i></li>
    <li style="color:orange;"><i>Excessive hair growth on the face, chin, or body, called Hirsutism (this is a telltale sign, as it affects up to 70 percent of women with PCOS)</i></li>
    <li style="color:orange;"><i>Ovarian cysts</i></li>
    <li style="color:orange;"><i>Difficulty managing your weight (not all women who have PCOS will be
overweight, but for those that do, losing weight is usually difficult due to insulin
resistance)</i></li>
    <li style="color:orange;"><i>Acne on the face, chest, and back</i></li>
    <li style="color:orange;"><i>Darkening of the skin</i></li>
    <li style="color:orange;"><i>Male-pattern baldness or thinning head hair</i></li>
    <li style="color:orange;"><i>Multiple miscarriages</i></li>
    <li style="color:orange;"><i>Difficulty breathing while asleep (obstructive sleep apnea)</i></li>
    <li style="color:orange;"><i>Depression or mood swings (which can also be attributed to PMS)</i></li>
    <li style="color:orange;"><i>Pelvic pain</i></li>
    <li style="color:orange;"><i>Enlarged clitoris (this is a very rare symptom)</i></li>
    <li style="color:orange;"><i>A decrease in breast size (thanks to the low levels of estrogen)</i></li>
    </ul>
</p>
    <br><br>
       <h2 style="text-align:center; color:white;">How is it Diagnosed?</h2>
<style>
p{
  font-family: "Comic Sans MS", cursive, sans-serif ;
}
</style>
        <p style="color:orange;">Even with all of the known symptoms of PCOS, the average woman with the condition goes<b> SEVEN YEARS </b>without getting a proper diagnosis. This is likely due to the fact that there are no definitive tests to diagnose PCOS and the decision is left to the discretion ofyour doctor to review your symptoms, family history, and perform multiple tests thatcould identify your condition.
        Some of the tests that your doctor can do to help with your diagnosis are:
        <ol>
         <li style="color:white;" ><b><i>Physical exam</b></i></li>
         <p style="color:orange;">Your doctor will measure your BMI (body mass index), your
             waist size, and your blood pressure, as well as check for skin discoloration, skin
             tags, extra hair, and an enlarged thyroid.
         </p>
         <li style="color:white;"><b><i>Pelvic exam</i></b></li>
         <p style="color:orange;">This exam can be done to see if you display signs of excessive male hormones (androgens) like an enlarged clitoris and to see if your ovaries are swollen or enlarged.
         </p>
         <li style="color:white;"><b><i>Pelvic ultrasound</i></b></li>
         <p style="color:orange;">Using an ultrasound machine, your doctor can check for cyst  on your ovaries, one of the key signs of PCOS.</p>
         <li style="color:white;"><b><i>Blood tests</i></b></li>
         <p style="color:orange;">A variety of blood tests can be performed to check for high levels of testosterone (an androgen), prolactin (which plays a large role in your lack of menstruation or infertility), too high levels of cholesterol or triglycerides, Thyroid-stimulating hormone (TSH), adrenal gland hormones, and glucose tolerance and insulin levels.</p>
        </ol>
        <br><br>
     <h2 style="text-align:center; color:white;">How Can you Treat PCOS?</h2>
<style>
p{
  font-family: "Comic Sans MS", cursive, sans-serif ;
}
</style>
     <ol>
         <li style=" color:white;"><b>PCOS and Weight Loss</b></li>
     <p style="color:orange;">PCOS-related weight gain is a struggle that many women with or without an official diagnosis deal with. But even a small amount of weight loss goes a long way when you have PCOS, as little as a 10 percent decrease (that’s 20 pounds for a 200 lb woman) in your weight can help kickstart ovulation, increase your chances of getting pregnant (if that’s one of your goals), help your hormones reach normal levels, lower your glucose levels, and help your body use insulin better. Talk about motivation
     </p>
         <li style="color:white;"><b>PCOS DIET</b></li>
         <style>
p{
  font-family: "Comic Sans MS", cursive, sans-serif ;
}
</style>
     <p style="color:orange;">When it comes to losing weight when you have PCOS, not all diets are created equal. Eating a balanced diet full of fiber rich vegetables like broccoli, lean proteins, and anti-inflammatory foods (such as tomatoes, olive oil, and nuts) will help you manage your weight. Due to the insulin resistance that is common in women with PCOS, it’s best to avoid foods that are high in refined carbs, have a lot of sugar, or are processed. If you stick to a clean, whole foods diet you’re likely to see results. On top of sticking to a PCOS diet, incorporating exercise into your daily routine can make a big difference in how you feel and look
     </p>
         <li style="color:white;"><b>MEDS</b></li>
         <style>
p{
  font-family: "Comic Sans MS", cursive, sans-serif ;
}
</style>
         <p style="color:orange;"><b style="color:white;">Metformin </b>: Though not yet FDA approved, Metformin is commonly given to women with PCOS because it can help treat type 2 diabetes and help with some symptoms, like restarting ovulation. Weight loss is a major side effect of this medication but it hasn’t been shown to decrease acne or excessive body hair.<br><br>
             <b style="color:white;">Anti-androgen medication</b> : Because these medicines block the effect of androgens, which are largely to blame for hair loss,excessive hair growth, and acne they are very popular in treating PCOS. A word of warning: anti-androgens can cause complications with pregnancy,so are best avoided if you’re trying to conceive. <br><br>
     <b style="color:white;">Hormonal birth control </b>: If you aren’t trying to get pregnant, hormonal birth control that contains both estrogen and progesterone can be beneficial in treating PCOS symptoms. It can make your menstrual cycle more regular, lower your risk
     of endometrial cancer, and help improve acne and excess hair growth.</p>
         <li style="color:white;"><b>PCOS vs PREGNANCY</b></li>
         <p></p>
     <ul>
      <li style="color:red;"><b>Fertility medication:</b></li>
         <style>
p{
  font-family: "Comic Sans MS", cursive, sans-serif ;
}
</style>
     <p style="color:orange;">A prescription like Clomid can increase your chances of pregnancy by helping you ovulate.</p>
     <li style=" color:red;"><b>In vitro fertilization (IVF) :</b></li>
         <style>
p{
  font-family: "Comic Sans MS", cursive, sans-serif ;
}
</style>
     <p style="color:orange;">If medicine doesn’t work then you have the option of having your egg and your partners sperm implanted into your uterus.</p>
     <li style="color:red;"><b>Ovarian drilling</b></li>
         <style>
p{
  font-family: "Comic Sans MS", cursive, sans-serif ;
}
</style>
     <p style="color:orange;">Ovarian drilling is another option for women experiencing PCOS : Related infertility. Your doctor can drill a few holes into the surface of your ovary (using a laser) this can help restore ovulation for six to eight months, making it a temporary solution.</p>
     </ul>
    </ol>
    </div>
</body>
</html>
